---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>
        
        {% if site.utterances_repo %}
        <script src="https://utteranc.es/client.js"
                repo="{{site.utterances_repo}}"
                {% if site.utterances_label %}
                label="{{site.utterances_label}}"
                {% endif %}

                {% if site.utterances_theme %}
                theme="{{site.utterances_theme}}"
                {% else %}
                theme="github-light"
                {% endif %}

                {% if site.utterances_issue_term %}
                issue-term="{{site.utterances_issue_term}}"
                {% else %}
                issue-term="pathname"
                {% endif %}
                crossorigin="anonymous"
                async>
        </script>
        {% endif %}
      </div>

      {% if site.catalog %}
      {% if page.catalog %}
      <div class="
          col-lg-2 col-lg-offset-0
          visible-lg-block
          sidebar-container">
          {% assign my_min = page.toc_min | default: site.toc_min | default: 1 %}
          {% assign my_max = page.toc_max | default: site.toc_max | default: 4 %}
          <div class="sidebar-title">Catalog</div>
          <div class="sidebar-content">
              {% include toc.html class="side-catalog" html=content sanitize=true h_min=my_min h_max=my_max %}
          </div>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
